.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.medName{
  align-self: center;
  text-transform: uppercase;
  font-weight: 600;
  flex:2;
}

.item{
  box-shadow:5px 5px 5px #888888;
  border:1px solid black;
  border-radius: 20px;
  margin:20px;
  padding:20px;
  display:flex;
  justify-content: space-evenly;
}
.barcode{
  background-color: white;
  height:30px;
  padding-right:30px;
  align-self: center;
}
.buttons{
  align-self: center;
  margin-right:0;
}

.App-logo{
  height:64px;
}

.App-header {
  position: sticky;
  top:0;
  width: 100vw;
  background-color: green;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
