.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.medName{
  align-self: center;
  text-transform: capitalize;
  font-weight: 600;
  flex:2;
}

.item{
  box-shadow:5px 5px 5px #888888;
  border:1px solid black;
  border-radius: 20px;
  margin:20px;
  padding:20px;
  display:flex;
  justify-content: space-evenly;
}
.barcode{
  background-color: white;
  height:30px;
  padding:0px 30px;
  align-self: center;
}
.rightSide{
  flex:1;
  margin-left:auto;
}
.medAmount{
  font-size: large;
  font-weight: 500;
}
.buttons{
  align-self: center;
}
.editButton{
  color:white;
  background-color: green;
  border:none;
  border-radius:20%;
  padding:10px;
}
.popup-content{
  display:flex;
  flex-direction: column;
  width:80%;
  min-height: 50%;
  border:2px solid black;
  border-radius: 10px;
  background-color: white;
}
.modal{
  flex:2;
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.amountText{
  border-radius: 10%;
  border:1px solid gray;
  width: 20%;
  padding: 10%;
  align-self: center;
  text-align: center;
}
.submitButton{
  border:1px solid gray;
  color:white;
  background-color: green;
  padding:20px;
  border-radius: 10px;
  width: fit-content;
  align-self: center;
}
.amountText[type="text"]{
    font-size: 20px;
}
.modal>.buttons{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.modal>.medName{
  display: flex;
  align-items: center;
  text-align: center;
  flex:3;
}
button>path{
  height:24px;
}
.App-logo{
  position:sticky;
  height:64px;
}

.App-header {
  position: sticky;
  top:0;
  height: 10vh;
  width: 100vw;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
